################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/framworktest
/.vs
/Project1/.vs/Project1
/Project1/bin/Debug
/Project1/obj/Debug
